.profile {
    padding: 20px;
}

.profile-box {
    background-color: var(--light-blue);
}

.profile-box .white-box {
    margin-bottom: 20px;
    padding: 20px;
}

.profile-box label {
    cursor: pointer;
    white-space: nowrap;
}

.profile-box .avatar {
    display: flex;
    align-items: center;
}

.profile-box .avatar label, .profile-box .avatar .white-button {
    margin: 10px;
}

.profile-box .profile-avatar {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(203, 203, 203);
    border-radius: 9999px;
    padding: 0;
}

.profile-box .white-button, .profile-box .white-button:active {
    border: 1px solid #aaa !important;
    padding: .375rem .75rem !important;
}

.form-control:disabled {
    background-color: #D9F0F1 !important;
}

.profile-box .profile-input {
    display: flex;
}

.profile-box .profile-input div, .profile-box .company-input div {
    margin: 0px 10px 10px;
}

.profile-box input, .profile-box input:focus, .profile-box textarea, .profile-box textarea:focus, .profile-box textarea:focus-visible {
    display: block;
    padding: 5px 10px;
    background-color: #D9F0F1;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    outline: none;
    width: 100%;
}

.profile-box .decimal div {
    margin: 0;
}

.profile-box .decimal input {
    transform: scale(1.5);
    display: inline-block;
    width: auto;
    height: 0.7rem;
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #aaa;
}

.profile-box .decimal input:checked {
    background-color: #0d6efd;
}

.profile-box .decimal label {
    margin-right: 20px;
}

.profile-box .password {
    display: flex;
} 

.profile-box .password h5 {
    margin: 0;
    line-height: 2.5rem;
}

.profile-box .password .blue-button, .profile-box .password .white-button {
    padding: 0 !important;
    width: 27px;
}

/* Company */

.profile-box .company-input .disable-select {
    pointer-events: none;
}

.profile-box .company-input .search-select .ss-single-selected {
    background-color: #D9F0F1;
    height: 34px;
    border-radius: 20px;
    margin: 0;
}

.profile-box .company-input .search-select .ss-single-selected .placeholder {
    background-color: #D9F0F1;
    color: #000;
    opacity: 1;
}

.profile-box .company-input .search-select .ss-main .ss-single-selected .placeholder .ss-disabled {
    color: #aaa;
}

.profile-box .company-input .search-select .ss-content {
    margin: 1px 0px;
}

.profile-box .company-input .search-select .ss-content .ss-search input:focus {
    box-shadow: none;
}

.profile-box .company-input .search-select .ss-content .ss-list .ss-option:hover {
    color: #000;
    background-color: #D9F0F1;
}

.avatar .qr, .avatar .e-sign {
    border: 1px solid #aaa;
    min-width: 120px;
    min-height: 120px;
    display: flex;
    align-items: center;
    margin: 0 !important;
    padding: 10px;
}

.avatar .e-sign {
    min-width: 210px;
}

.avatar .qr svg, .avatar .qr img, .avatar .e-sign svg, .avatar .e-sign img {
    display: block;
    margin: auto;
    width: 50px;
}

.avatar .qr img, .avatar .e-sign img {
    width: 100%;
}

.profile-box .error-text {
    color: red;
}

/* Info */
.profile-box .info {
    display: flex;
}

.profile-box .info a {
    margin-left: 10px;
    color: #0d6efd !important;
    text-decoration: underline !important;
    font-weight: 400;
    cursor: pointer;
}

@media screen and (max-width: 810px) {
    .profile-box .password.profile-input {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 576px) {
    .company-input .avatar {
        flex-direction: column !important;
    }

    .profile-box .flex-class, .profile-box .password, .profile-box .profile-input {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-box .avatar label {
        margin-bottom: 10px !important;
    }
}

@media screen and (max-width: 480px) {
    .profile {
        padding: 10px !important;
    }

    .profile-box .white-box {
        padding: 20px;
    }

    .company-input .avatar, .company-input .avatar div {
        margin: 5px 0 !important;
    }
}

@media screen and (max-width: 400px) {
    .profile-box .avatar {
        flex-direction: column !important;
    }

    .profile-box .edit-btn button, .profile-box .avatar label, .profile-box .avatar .white-button {
        margin: 2px;
    }
}

@media screen and (max-width: 360px) {
    .profile-box .white-box {
        padding: 20px 0;
    }

    .profile-box .decimal {
        flex-direction: column;
    }
}


