.vertical-nav, .offcanvas {
    background-color: var(--blue) !important;
    color: #fff;
    padding: 0 !important;
    min-height: 100vh;
}

.logo {
    margin: 20px auto;
    width: 85%;
}

.vertical-nav .nav-link {
    position: relative;
    color: #fff;
    padding: 15px !important;
    display: flex;
}

.vertical-nav .nav-link:hover {
    color: #fff;
}

.vertical-nav .nav-link.active {
    background-color: var(--dark-blue);
    color: #fff;
}

.vertical-nav .dot {
    height: 7px;
    width: 7px;
    background-color: var(--blue);
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    right: 0px;
    bottom: 27px;
    display: none;
}

.vertical-nav .sidebar-curve {
    display: none;
    position: absolute;
    right: -4px;
    bottom: -10px;
}

.vertical-nav .nav-link.active .sidebar-curve, .vertical-nav .nav-link.active .dot {
    display: block;
}

.header {
    box-shadow: 0 .1rem 0.2rem rgba(0,0,0,.15);
}

.header .navbar {
    position: relative;
    padding: 15px 30px;
    justify-content: flex-start;
}

.header .navbar-toggler {
    padding: 0px 5px;
    width: 30px;
    background-color: #efefef;
    border: none;
    margin: 10px;
}

.header .navbar-toggler .navbar-toggler-icon {
    width: 20px;
    margin: auto;
}

.header .navbar-toggler:focus {
    color: #fff;
}

.right-header {
    position: absolute;
    right: 30px;
}

.right-header .user{
    background-color: transparent !important;
    color: #000 !important;
}

.right-header .user:hover, .right-header .user:active, .right-header .user:focus, .user .btn-primary:active, .user .show>.btn-primary.dropdown-toggle {
    background-color: rgb(244, 244, 244) !important;
    border-radius: 0% !important;
}

.right-header .dropdown-menu {
    margin-top: 0px !important;
}

.right-header img {
    margin-right: 5px;
    border-radius: 30px;
} 

.offcanvas {
    width: 250px !important;
}

.offcanvas-backdrop {
    background-color: #fff !important;
}

@media screen and (max-width: 350px) {
    .right-header {
        position: relative;
        left: 10px;
    }
}