.view {
    padding: 20px;
}

.view .view-box {
    background-color: var(--light-blue);
    padding: 30px 100px !important;
}

.view-box .view-head {
    display: flex;
    flex-wrap: wrap;
}

.view-head .blue-button, .view-head .white-button {
    padding: 0.3rem 1rem !important;
}

.view-box .view-body {
    background-color: #fff;
    margin: 20px 0;
    border-radius: 30px;
    padding: 50px;
}

.view-box .img-box {
    height: 113px;
    width: 100%;
}

.img-box img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.view-body pre {
    margin-bottom: 5px;
}

.view-body .invoice-table {
    min-height: auto;
}

.view-body .invoice-table thead th:first-child, .view-body .invoice-table tbody tr td:first-child {
    padding-left: 30px;
}

.img-box.e-sign img {
    margin: 0;
}

.view-body .qr {
    border: 1px solid #e5e7eb;
    padding: 5px 10px 10px;
    width: 25%;
    margin-top: 10px;
}

.btm-qr img {
    margin: 5px auto;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

@media screen and (max-width: 992px) {
    .view .view-box, .view .view-body {
        padding: 30px !important;
    }
}

@media screen and (max-width: 450px) {
    .view-body .blue-button, .view-body .white-button, .view-body .file-btn .white-button .view-body .file-btn .blue-button {
        margin: 5px auto !important;
    }

    .view-body .invoice-table thead th:first-child, .view-body .invoice-table tbody tr td:first-child {
        padding-left: 10px;
    }

    .view-body .qr {
        width: 45%; 
    }
}

@media screen and (max-width: 360px) {
    .view {
        padding: 10px !important;
    }

    .view .view-box, .view .view-body {
        padding: 20px !important;
    }

    .view-body .flex-class {
        flex-direction: column;
    }

    .view-body .total-table .flex-class {
        flex-direction: row;
    }


    .view-body .total-table input {
        width: 50%;
    }

    .view-body .qr {
        width: 100%;
    }
}
