p {
    margin: 0!important;
}

.left-container {
    padding: 40px;
}

.left-container .logo {
    margin-bottom: 50px;
    width: 30%;
}

.left-container a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.right-container {
    background-color: var(--blue);
    min-height: 100vh;
    height: 100%;
}

.right-container img {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media screen and (max-width: 1200px) {
    .left-container .logo {
        width: 60%;
    }
}

@media screen and (max-width: 576px) {
    .left-container .logo {
        width: 80%;
    }
}